.footer {
    background-color: #EDEDED;
    font-size: small;
  
}

#footer1{
    float: left;
    text-align: left;
    padding-left: 40px;
}

#footer2{
    float: right;
    text-align: right;
    padding-right: 40px;
}