.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .navbar {
    background-image: url("img/Header.jpg");
    height: 8em;
    padding-left: 4em;
    padding-right: 4em;
    position:relative;
}





