#content {
    background-image: url("inc/img/tausta.jpg");
    background-color: #444444;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: auto;
    position: auto;
}

