
#atte {
    
    display: inline-block;
    padding-bottom: 100px;
}

#anu {
    
    display: inline-block;
    padding-left: 250px;
    
}

#jaako {
    display: inline-block;
    padding-left: 82px;

   
}

#miika {
    display: inline-block;
}