.navbar {
    background-image: url("img/banner.jpg");
    height: 8em;
}

li {
    color: black;
}

.logonav {
    width: 50px;
}

.nav_linkit {
    background-color: rgba(245, 245, 239, 0.582);
    font-size: large; 
}

img {
    width: 3em;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(122, 36, 122)
}

