#kuva {
    max-width: 600px;
    max-height: 600px;
    padding-top: 10px;
    border: 2px solid yellow;
}

#tuotesivu {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: inline-block;
}

#otsikko {
    font-size: 24pt;
    border: 2px solid yellow;
}

#teksti {
    font-size: 16pt;
    border: 2px solid yellow;
}